
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Podany link jest już nieaktywny.</p>
            </div>
        </div>
    </div>
</div>

