@model SEE.TinyBusinessMarket.BackEnd.Common.Mail.InvoiceMailModel
<html>
<head>
    <meta charset="utf-8" />
    <title>Powiadomienie o wystawieniu faktury VAT.</title>
    <style>
        body {
            font-family: Verdana;
            font-size: 9pt;
        }
    </style>
</head>
<body>
    <div>
        <p>Szanowni Państwo,<br/>
        Dziekujemy za zakup naszego oprogramowania. Uprzejmie informujemy o wystawieniu faktury VAT za zakupione oprogramowanie, którą dołączyliśmy do tej wiadomości.</p>

        <p>W przypadku pytań i wątpliwości prosimy o kontakt mailowy na adres: <a href="mailto:biuro@tinybusiness.pl">biuro@tinybusiness.pl</a></p>
        <p>
            Z poważaniem,<br />
            Zespół projektu <strong>TinyBusiness</strong><br />
            <a href="mailto:biuro@tinybusiness.pl">biuro@tinybusiness.pl</a>
        </p>
        <p style="font-size:90%;"><em>Uwaga! Wiadomość została wysłana automatycznie. Prosimy nie odpowiadać na nią.</em></p>
    </div>
</body>
</html>
