@model SEE.TinyBusinessMarket.BackEnd.Common.Mail.InvoiceMailModel
<html>
<head>
    <meta charset="utf-8" />
    <title>Powiadomienie o wystawieniu faktury pro forma.</title>
    <style>
        body {
            font-family: Verdana;
            font-size: 9pt;
        }
    </style>
</head>
<body>
    <div>
        <p>
            Szanowni Państwo,<br />
            Dziękujemy za złożenie zamówienia. Aby dokończyć transakcję, prosimy o opłacenie zamówienia na rachunek bankowy widoczny na dołączonej do tej wiadomości fakturze "pro forma".
            W tytule przelewu prosimy o wpisanie numeru faktury "pro forma", bądź numeru NIP Waszego przedsiębiorstwa. W ciagu 48 godzin od zarejestrowania wpłaty, na podany przez Państwo adres email
            prześlemy link, pod którym będzie można pobrać fakturę VAT oraz zamówione oprogramowanie.
        </p>
        <p>W przypadku pytań i wątpliwości prosimy o kontakt mailowy na adres: <a href="mailto:biuro@tinybusiness.pl">biuro@tinybusiness.pl</a></p>
        <p>
            Z poważaniem,<br />
            Zespół projektu <strong>TinyBusiness</strong><br />
            <a href="mailto:biuro@tinybusiness.pl">biuro@tinybusiness.pl</a>
        </p>
        <p style="font-size:90%;"><em>Uwaga! Wiadomość została wysłana automatycznie. Prosimy nie odpowiadać na nią.</em></p>
    </div>
</body>
</html>
